
$enable-grid-classes: false;
$color-primary: #283040;
$color-secondary: #8d765d;




// form 

$form-floating-transition:        opacity .1s ease-in-out, transform .2s ease-in-out;


@import "../libs/bootstrap/scss/bootstrap";



