@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');


* {
	box-sizing: border-box;
}

body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	font-family: 'Montserrat', sans-serif;
	
}


/* HEADER */ 

.header {
	
	width: 100%;
	background-color: #0d0d0d;
	margin: 0px;
	padding: 0px;
	text-align: center;
	display: table;
	
	
}

.header-responsive {
	display: none;
	
}

.menu {
	display: none;

}

.header img {
	height: 150px;
	margin: 10px;
}

.ul {
	list-style: none;
	margin: auto;
	padding-bottom: 3px;
	display: flex;
	justify-content: center;
	
}

#close {
	display: none;
}

.ul li {
	
	padding: 0;
	margin: 10px 20px 5px 20px;
}

.ul .conteiner-submenu {
	width: 150px;
    margin: 10px 0 5px 0;

}


.ul a {
	text-decoration: none;
	color: #f2edee;
	font-size: 15px;
	padding: 0;
	cursor: pointer;
	
}






.ul a:hover:not(.active) {
	
	color: #DBBD9C;

}

.fas  {
	margin: auto;
	font-size: 12px;
	color: #DBBD9C;
}


.conteiner-submenu {
	position: relative;
   
}



.submenu {
	background: rgba(49, 45, 45, 0.9);
	opacity: 0;
    padding: 5px 0;
    margin: 0;
    visibility: hidden;
	overflow: visible;
    transition: all 0.3s;
	position: absolute;
	top: 25px;
	z-index: 1000;
	list-style-type: none;

}

.conteiner-submenu:hover .submenu {
	opacity: 1;
	visibility: visible;
}



/* Header Responsive */

#btnMenu {
	display: none;
}


/* CONTEINER*/

.contactanos {
	text-align: center;
	padding: 20px 20px 0 20px;
	margin: auto;
}

.contactanos h1 {
	font-family: Minion Variable Concept;
	font-weight: lighter;
}

/* MAP */

.contact_general {
	width: 100%;
	display: inline-flex;
	padding: 30px 0;
}


.map {
	width: 100%;
	margin: auto;
	padding: 0 8px;
	height: 500px;
	display: flex;
	flex-direction: column;
	
}

.map_iframe {
	width: 100%;
	height: 100%;
	padding: 0 4px;
	margin: auto;
}




/* QUESTION */

.question {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0 20px;
	
	
}

.question h2 {
	font-family: Minion Variable Concept;
	font-weight: lighter;
	font-size: 30px;
	text-align: center;
}

.first_fields {
	display: inline-flex;
	width: 100%;
	margin: 0;
	justify-content: center;
}

.form {
	margin: auto;
	padding: 10px;
	width: 100%;
	justify-content: center;
	
	
}

.nombre {
	width: 50%;
	padding-left: 20px;
	margin: 10px 0;
}

.nombre input {
	width: 80%;
	height: 30px;
}

.apellido {
	width: 50%;
	margin: 10px 0;
}

.apellido input {
	width: 80%;
	height: 30px;
}

.email_field {
	width: 100%;
	padding-left: 20px;
	margin: 10px 0;
}

.email_field input {
	width: 90%;
	height: 30px;
}

.text_field {
	padding-left: 20px;
	width: 100%;
	margin: 10px 0;
}

.text_field textarea {
	width: 90%;
	
}

.submit {
	margin: 40px 20px;
	border: 1px solid #8d765d;
	padding: 10px;
	background: #998267;
	border-radius: 10%;
	font-size: 15px;
	color: white;
	font-weight: bolder;
}

.submit:hover {
	cursor: pointer;	
}


/* ADHERI */

.sep1 {
	padding: 50px 100px;
	width: 100%;
	margin: auto;
	justify-content: center;
	
}

.line1 {
	height: 1px;
	background: #d4cdc5;
	margin: auto;
	width: 50%;
}

.adheri_escuela {
	width: 100%;
	text-align: center;
}



.adheri {
	width: 100%;
	text-align: center;
	margin: auto;
	padding: 70px 0;
}

.adheri a {
	font-size: 20px;
	font-weight: bold;
	border: 2px solid #d4cdc5;
	text-decoration: none;
	padding: 8px;
	color: black;
}

.adheri a:hover {
	background: rgb(43, 41, 41);
	color: white;
}

.adheri_escuela h2 {
	font-family: Minion Variable Concept;
	font-weight: lighter;
	font-size: 30px;
	padding: 20px 30px;

}







/* FOOTER */

.footer {
	background: #0d0d0d;
	width: 100%;
	height: 220px;
	justify-content: center;
	padding-top: 10px;
	
}


.td {
	display: flex;
	width: 100%;
	margin: auto;
	list-style: none;
	padding: 0;
	justify-content: center;
}

.td1 {
	margin: 10px 30px 0 30px;
	text-align: center;
	line-height: 200%;
	padding: 0;
	height: 200px;
	width: 300px;
}

.td1 a {
	display: block;
	text-decoration: none;
	color: white;
}

.td1 a:hover {
	color: pink;
}


.td2{
	text-align: center;
	display: block;
	line-height: 200%;
	margin: 0 30px;
	padding: 0;
	width: 400px;
}

.td2 img {
	height: 100px;
}

.td2 p {
	font-size: 15px;
	color: white;
	
}


.td3 {
	text-align: center;
	line-height: 200%;
	padding: 0;
	width: 300px;
	margin: 10px 30px;

}

.td3 a {
	text-decoration: none;
	display: block;
	color: white;
}

.td3 a:hover {
	color: pink;
}

.redes {
	border-top: 1px solid  #d3d8bf;
	text-align: center;
	display: block;
	background: black;
	padding: 6px 0 6px 0;
	height: 40px;
}

.redes a i{
	text-decoration: none;
	color: white;
	font-size: 20px;
	margin: 0 5px;
}

.redes a i:hover {
	color: pink;
}



